*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
  
.navbar_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 5%;
  background-color: #24252a;
}
  
.logo {
  cursor: pointer;
}
  
.nav_body a,
.overlay__content a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #edf0f1;
  text-decoration: none;
}
  
.nav_body {
  list-style: none;
  display: flex;
}
  
.nav_body li {
  padding: 0px 10px;
}

.nav_body li a {
  transition: all 0.3s ease 0s;
}
  
.nav_body li a:hover {
  color: #0088a9;
}

